:root {
  --sans: 'Open Sans', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --background: #3F226E;
  --color: #C29CFF;
  --color-secondary: #886db4;
  --buttons-hover: #884AED;
  --white: rgba(255, 255, 255, 0.836);
  --padding-container: 10px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--sans);
}